<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467674455787-c6uc77a8u3f9292t5nip6nn3a2sjfoad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467674455787-c6uc77a8u3f9292t5nip6nn3a2sjfoad</string>
	<key>API_KEY</key>
	<string>AIzaSyCsPxTDnLdiB7YNLL92ruO2ioyec6XqP-M</string>
	<key>GCM_SENDER_ID</key>
	<string>467674455787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.session</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-76174</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-76174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467674455787:ios:7ff03dccf54ed9466528ae</string>
</dict>
</plist>